.Post {
  background-color: #d7e3fc;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}
  
.Post figure,
h5 {
  margin: 0 0;
}

.DisabledHeart {
  font-size: 3vh;
}

.Heart {
  color: #f85032;
  font-size: 5vh;
}
  
.Heart:hover {
  color: #0d6efd;
}
  
  .HeartOutline:hover {
  color: #f85032;
}

/* Styling for comment panel */
.CommentPanel {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Post owner */
.owner {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 2vh;
}

.CardTitle {
  font-weight: bold;
}

/* Comment panel */
.CommentList {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  border-width: 1vh;
}

.CommentPanel {
  width: 100%; 
  max-width: 100%;
  border-left: 2px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Individual comment */
.Comment {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.CommentButton {
  font-size: 3vh;
}

.CommentButton:hover {
  color: #0d6efd;
}